/*contac--------/*/
.title-contact{
    margin-top: 110px;
    margin-bottom: 50px;
    flex-direction: column;
    h4{
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
    }
    p{
        font-size: 1rem; 
        margin-left: 5px;
        font-family: 'Montserrat', sans-serif;
    }
}
.contenedor-contact{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.contenedor_contact{
    width: 450px;
    box-shadow: 0 0 10px 4px #ddd !important;

}
.info-contact{
    flex: 0 0 calc(40%);
}

.title_contac{
    width: 100%;
    height: 110px;
    background: #00B2E5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_contac h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.buton_enviar{
    background-color: #00A0CC!important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px!important;
    font-weight: 500;
    color: white!important;
}
.buton_enviar:hover{
    color: $colorBlanco;
    background-color: $colorPrincipal;
}

.branch-office{
    list-style: none;
    padding: 5px;
    margin: 0;
    li{
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem; 
    }
}
.info-contact{
    p{
        font-size: 1rem; 
        margin-left: 5px;
        font-family: 'Montserrat', sans-serif;
    }
    span{
        font-size: 1.3rem;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
}