/*contac--------/*/
.title-contact{
    margin-top: 110px;
    margin-bottom: 15px;
    flex-direction: column;
    h4{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem; 
        margin-left: 5px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding: 5px 20px 0px 20px;
    }
}
.contenedor-contact{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @include tablet(){
        justify-content: space-around; 
    }
}

.contenedor-form{
    box-shadow: 0 0 10px 4px #ddd !important;
    flex: 0 0 calc(100%);
    @include tablet(){
        flex: 0 0 calc(50%); 
    }
    @include desktop(){
        flex: 0 0 calc(40%); 
    }
}
.info-contact{
    flex: 0 0 calc(100%);
    margin-top: 20px;
    @include tablet(){
        flex: 0 0 calc(40%); 
    }
}

.title_contac{
    width: 100%;
    height: 90px;
    background: #00B2E5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_contac h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem!important;
}

.buton_enviar{
    background-color: #00A0CC!important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px!important;
    font-weight: 500;
    color: white!important;
}
.buton_enviar:hover{
    color: $colorBlanco;
    background-color: $colorPrincipal;
}

.branch-office{
    list-style: none;
    padding: 5px;
    margin: 0;
    li{
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem; 
        line-height: 2.1rem;
    }
}
.info-contact{
    p{
        font-size: 1rem; 
        margin-left: 5px;
        font-family: 'Montserrat', sans-serif;
    }
    span{
        font-size: 1.3rem;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
}