@import 'variables';
@import 'mixins';

body{
	background: url(../images/fondo.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
h1{
    font-size: 2.5rem!important;
    font-weight: 500!important;
}
/*=============================================
  Menu navbar
=============================================*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: $colorPrincipal;
}
  .site-navbar .site-navigation .site-menu > li > a:hover {
    color: $colorBlanco !important;
}

.site-navbar .site-navigation .site-menu > li > a {
    color: $colorBlanco !important;
    font-family: "LibelSuit"!important;
    letter-spacing: 1.5px!important;
    font-weight: 300!important;
    font-size: 1.1rem!important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover{
    background-color: $colorGris!important;
}
//media query menu muy pequeña tipografias y tamaños letras
@media (max-width:767px){
    .site-mobile-menu .site-nav-wrap > li > a{
        font-family: "LibelSuit"!important;
        letter-spacing: 0.8px!important;
        font-size: 1.2rem!important;
        color: #212529cc!important;
    }
    .site-mobile-menu .site-nav-wrap a{
        font-family: "LibelSuit"!important;
        letter-spacing: 0.5px!important;
        font-size: 1rem!important; 
        color: #212529cc!important;  
    }
}

.hero{
    background: url(../images/fondo-events.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 24rem;
}
.hero_title{
    text-align: center;
    margin-top: 70px;
    h2{
        text-align: justify;
    }
}

.hero_zuñiga{
    padding-top: 30px;
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
    line-height: 1.5em!important;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 5px;
}
/*=============================================
  menu galeria hover de secction
=============================================*/
.galeria{
    margin-top: 65px;
}
.contenedor-images{
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
  }
  .contenedor-images .imagen{
    width: 25%;
    position: relative;
    height: 277px;
    margin-bottom: 0;
    /*box-shadow: 0px 0px 3px 0px rgba(0,0,0,.75);*/
  }
  .imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
  }
  .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,118,192,0.781);
    width: 100%;
    height: 0%;
    transition: .5s ease;
    overflow: hidden;
  }
  .overlay span{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: "LibelSuit";
    font-weight: 500;
    letter-spacing: 1px;
  
  }
  .imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
  }

  
@media screen and (max-width:1000px){
      .contenedor-imagenes{
          width: 90%;
      }
  }
  
@media screen and (max-width:700px){
      .contenedor-imagenes{
          width: 90%;
      }
      .contenedor-imagenes .imagen{
          width: 48%;
      }
  }
  
@media screen and (max-width:450px){
      .contenedor-imagenes{
          width: 98%;
      }
      .contenedor-imagenes .imagen{
          width: 80%;
      }
  }
/*=============================================
 secction contenido principal
=============================================*/
.title_events{
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 5px;
  }
  .btn.btn-black{
    color: #fff;
    background-color: #5db1e4!important; 
    font-family: 'Raleway', sans-serif !important;
    font-size: 18px;
  }
  
  .btn.btn-black:hover{
    color: #fff;
    background-color: #fff;
  
  }
  .cont_gl{
    margin-top: 120px;
  }

/*=============================================
  secction de fondo desing
=============================================*/
.fondo{
    background: url(../images/fondo-events.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}








